# GitHub Actions secrets
RAILS_MASTER_KEY=
GABRIELSDL_DATABASE_PASSWORD=
KAMAL_SSH_PRIVATE_KEY=

# Production database
GABRIELSDL_DATABASE_USERNAME=gabrielsdl
DB_HOST=gabrielsdl-db

# Rails
RAILS_ENV=production
SOLID_QUEUE_IN_PUMA=true
