# GitHub Actions secrets
RAILS_MASTER_KEY=
GABRIELSDL_DATABASE_PASSWORD=
KAMAL_SSH_PRIVATE_KEY=
SMTP_USERNAME=bielsdldrawing@gmail.com
SMTP_PASSWORD=

# Production database
GABRIELSDL_DATABASE_USERNAME=gabrielsdl
DB_HOST=gabrielsdl-db

# Production email
SMTP_ADDRESS=smtp.gmail.com
SMTP_PORT=587
SMTP_DOMAIN=gmail.com
CONTACT_FROM_EMAIL=bielsdldrawing@gmail.com
CONTACT_TO_EMAIL=bielsdldrawing@gmail.com

# Rails
RAILS_ENV=production
SOLID_QUEUE_IN_PUMA=true
